body {
	margin-left: 		0px;
	margin-top: 		0px;
	margin-right: 		0px;
	margin-bottom: 		0px;
	background-color:	#ffffff;
}

/*********************************** LINKS ************************************/
a.link, a.link:link, a.link:visited {
	color:				#000099;
	text-decoration:	underline;
	font-weight: 		normal;
}

a.link:hover, a.link:active, a.link:focus {
	color:				#000000;
	text-decoration: 	none;
}

a.menu, a.menu:link, a.menu:visited {
	font-family: 		arial, helvetica, sans-serif;
	font-size: 			9pt;
	color: 				#000000;
	font-weight: 		bold;
	font-variant:		small-caps;
}

a.menu:hover, a.menu:active, a.menu:focus {
	color: 				333333;
	text-decoration: 	none;
}

a.menu_active, a.menu_active:link, a.menu_active:visited  {
	font-family: 		arial, helvetica, sans-serif;
	font-size: 			9pt;
	color: 				#000000;
	font-weight: 		bold;
	font-variant:		small-caps;
}

a.menu_active:hover, a.menu_active:active, a.menu_active:focus {
	color: 				#333333;
	text-decoration: 	none;
}

a.submenu {
	margin-top: 		0px;
	display: 			block;
	font-family:		geneva, arial, helvetica, sans-serif;
	font-weight:		bold;
	font-size: 			11px;
	vertical-align: 	middle;
	color: 				#ffffff;
	height: 			25px;
	padding: 			1px;
	padding-left:		20px;
	padding-top:		5px;
	text-decoration:	none;
}

a.submenu:link, a.submenu:visited {
	color: 				#ffffff;
	background-image: 	url(../images/top/link_bg.jpg);
	vertical-align:		middle;
}

a.submenu:hover, a.submenu:active, a.submenu:focus {
	color: 				#f4dc6b;
	background-image: 	url(../images/top/link_hover_bg.jpg);
	vertical-align: 	middle;
}

a.logout, a.logout:link, a.logout:visited {
	font-family:		arial, helvetica, sans-serif;
	font-weight:		bold;
	font-size: 			12px;
	color: 				#ffffff;
	height: 			18px;
	padding: 			1px;
	padding-left:		5px;
	white-space: 		nowrap;
	text-decoration:	none;
}

a.logout:hover, a.logout:active, a.logout:focus {
	color: 				#f4dc6b;
}

.login {
	font-family: 		geneva, arial, helvetica, sans-serif;
	font-size: 			11px;
	color: 				#000;
	white-space: 		nowrap;
	text-decoration: 	none;
}

a.login, a.login:link, a.login:visited {
	font-family: 		geneva, arial, helvetica, sans-serif;
	font-size: 			11px;
	color: 				#3b73ca;
	white-space: 		nowrap;
	text-decoration: 	underline;
}

a.login:hover, a.login:active, a.login:hover {
	color: 				#000000;
	text-decoration: 	none;
}

/*********************************** OTHER ************************************/

.logoutbutton {
	padding-left:15px;
}

.title {
	font-family: 		geneva, arial, helvetica, sans-serif;
	font-size: 			11pt;
	font-weight: 		bold;
	font-variant:		small-caps;
	text-decoration: 	none;
	border-bottom:		#cccccc solid 1px;
}

.titlemenu {
	font-family:  		geneva, arial, helvetica, sans-serif;
	font-size: 			11pt;
	font-weight:		bold;
	font-variant:		small-caps;
	color:				#ffffff;
	padding-left:		5px;
	vertical-align:		text-top;
}

.bottom {
	color: 				#ffffff;
	font-family: 		arial, helvetica, sans-serif;
	font-size: 			7pt;
	background-image: 	url(../images/top/menu_bg.jpg);
}

td {
	font-family: 		arial, helvetica, sans-serif;
	font-size: 			12px;
}

td.content {
	font-size: 			12px;
	color: 				#000000;
	white-space: 		nowrap;
	background: 		#efefef;
	height: 			22px;
	padding: 			2px;
}

td.content2 {
	font-size: 			12px;
	color: 				#000000;
	white-space: 		nowrap;
	background:			#efefef;
	height: 			22px;
	padding: 			2px;
}

td.content3 {
	font-size: 			12px;
	color: 				#FFFFFF;
	white-space: 		nowrap;
	background: 		#000;
	white-space: 		nowrap;
	height: 			30px;
	padding: 			2px;
	border-bottom:		2px solid #000000;
	border-right:		2px solid #000000;
	border-top:			2px solid #eeeeee;
	border-left:		2px solid #eeeeee;
	background-image:	url(../images/content/tableheader.jpg);
	background-repeat:	repeat-x;
}

td.content4 {
	font-size: 			12px;
	color: 				#333333;
	white-space: 		nowrap;
	background: 		#dddddd;
	height: 			22px;
	padding: 			2px;
}

.textinput {
  background-color: 	white;
  border-style: 		solid;
  border-width: 		1;
  border-color: 		#cccccc;
  font-family: 			verdana;
  font-size: 			8pt;
  height: 				21px;
  margin: 				2px;
}

.textinput2 {
  background-color: 	white;
  border-style: 		solid;
  border-width: 		1;
  border-color: 		#cccccc;
  font-family: 			verdana;
  font-size: 			8pt;
  margin: 				2px;
}

.button {
	font-family: 		arial, helvetica, sans-serif;
	height: 			21px;
	font-size: 			12px;
	color: 				#ffffff;
	text-align: 		center;
	background-color: 	#323232;
	background-image: 	url(../images/button.jpg);
	background-repeat:	repeat-x;
	border-bottom:		1px solid #000000;
	border-right:		1px solid #000000;
	border-top:			1px solid #eeeeee;
	border-left:		1px solid #eeeeee;

}

.login_bottom {
	font-size: 			10px;
	color: 				#99a0b1;
}

.login_text {
	color: 				#334163;
}

.login_time {
	color: 				#99a0b1;
	font-size: 			24px;
	font-weight: 		bold;
}