BIND_USER = bind
BIND_GROUP = bind

BIND_CONF_DIR = /etc/bind
BIND_CONF_DEFAULT_FILE = /etc/default/bind9
BIND_CONF_FILE = /etc/bind/named.conf
BIND_LOCAL_CONF_FILE = /etc/bind/named.conf.local
BIND_OPTIONS_CONF_FILE = /etc/bind/named.conf.options
BIND_DB_ROOT_DIR = /var/cache/bind
BIND_DB_MASTER_DIR = /var/cache/bind/imscp/master
BIND_DB_SLAVE_DIR = /var/cache/bind/imscp/slave
NAMED = /usr/sbin/named
NAMED_COMPILEZONE = /usr/sbin/named-compilezone
NAMED_SERVICE =

# Format for compiled zone files
# Possible values: text, raw or raw=N where N can be 0 or 1
# See NAMED-CHECKZONE(8)
BIND_DB_FORMAT = raw=0

# Mode in which the server should acts (master|slave)
BIND_MODE =

# Master DNS(s) IP addresses
PRIMARY_DNS =

# Slave DNS(s) IP addresses
SECONDARY_DNS =

# IPv6 support
BIND_IPV6 =

# Local DNS Resolver
LOCAL_DNS_RESOLVER =
