[mysqldump]
host     = {DATABASE_HOST}
port     = {DATABASE_PORT}
user     = {DATABASE_USER}
password = {DATABASE_PASSWORD}
[mysql_upgrade]
host     = {DATABASE_HOST}
user     = {DATABASE_USER}
password = {DATABASE_PASSWORD}
socket   = {SQLD_SOCK_DIR}/mysqld.sock
basedir  = /usr
[mysqld]
slq_mode =
