* {
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}
small {
	font-size: .8em;
}
body, small {
  font-size: 8pt;
}
pre {
  font-family: verdana;
  font-size: 9px;
}

BODY{
	font-family: verdana;
    background-image: url(../../skins/omega/header_right_bg.png);
	font-size: 9px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
body.left {
    background-image: url(../../skins/omega/folders_bottom.gif);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	overflow: auto;	
}

textarea {
	background-color: #FDFCFA;
	color: #000000;
	border: 1px double #aaa;
}
.titletext {
	font-weight: bold;
}
td {
	font-size: 7pt;
}
.top_bar_header {
	FONT-FAMILY: verdana;
	FONT-SIZE: 13px;
	COLOR: #000000;
	
}
.top_left_bar_handle {
}
.inbox_bar_header {
	FONT-FAMILY: verdana;
   	FONT-SIZE: 10px;
	padding: 10 1;
	COLOR: #000000;
	margin: auto;
}
.inbox_left_bar_handle {
	padding: 1 1;
}
.company_text {
	FONT-FAMILY: verdana;
   FONT-SIZE: 20px;
	font-style: italic;
   COLOR: #C9D3E4;
}
.targetMailbox {
	font-size: 1em !important;
	font-size: 1.4em;
	vertical-align: middle;
	background-color: #c0c0c0;
}
.mvfwdl {
	background-color: #c0c0c0;
}
.toggle_table {
	background-color: #c0c0c0;
}
.messageinfo_table {
	background-color: #c0c0c0;
}
.mailmessage_table {
	background-color: White;
}
#company_table {
	padding: -10px 0px 0px 0px;
	float: right;
	margin: -6px 0px 0px 0px;
}
.current_folder {
	padding: 1 1;
	background: url(../../skins/omega/left_inbox_bar.gif);
	background-repeat: repeat-x;
	color : #ffffff;
}
.options_bar {
	padding: 1 1;
	background: url(../../skins/omega/options_back.gif);
	background-repeat: repeat-x;
	color : #ffffff;

}
.options_bar.a {
	color: #ffffff;
}
.read_icon_bar {
	background: url(../../skins/omega/readbar_silver.gif);
	background-repeat: repeat-x;
	color : #ffffff;
}
.topbar {
	border: 1px none #66CDAA;
}
.message_header {
	border: 0px solid #FFFFFF;
	background-color: #B3CAF7;
}
.attach_box_top {
	background-color: #B3CAF7;
}
.attach_box_bottom {
	background-color: #ECF0F4;
}
frame { border: 0px solid #6B91C3; }
#f1 { border-right-width: 0px;      border-right-color: #6B91C3;  border-right: 0px solid #6B91C3;  }
#f2 {  }
#f3 { border-top-width: thick;      border-top-color: #6B91C3;  border-top: thick solid #6B91C3;     }
.mail_display_header {
	background: White;
	border-bottom: 1px solid #ABABAB;
	border-top: 1px solid #ABABAB;
}
.message_toggle_bar {

	background: url(../../skins/omega/left_inbox_bar.gif);
	background-repeat: repeat-x;
}

.blank_bar {
 background-color: white;
 border: 0px none;
}

#right_logo {
	background: url(../../skins/omega/logo.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 60px 60px 60px;
	float: right;
	margin: 0px 0px 0px -3px;
	cursor: hand;
}
p.button_text { 
	margin: 55px 0px 0px 10px;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;


}
#inbox_button {
	background: url(../../skins/omega/inbox.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 38px 5px 0px;
	float: left;
	margin: 3px 40px 0px 80px !important;
	margin: 3px 0px 0px 40px;
	cursor: hand;
	Color: #FFFFFF;
}

#compose_button {
	background-image: url(../../skins/omega/compose.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 35px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}
#addresses_button {
	background-image: url(../../skins/omega/address_book.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 30px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}
#folders_button {
	background-image: url(../../skins/omega/folders.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 40px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}
#options_button {
	background-image: url(../../skins/omega/options.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 10px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}
#calendar_button {
	background-image: url(../../skins/omega/todo.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 15px 5px 0px;
	float: left;
	margin: -5px 0px 0px 3px;
	cursor: hand;
	Color: #FFFFFF;
}

#notes_button {
	background-image: url(../../skins/omega/notes.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 15px 5px 0px;
	float: right;
	margin: 5px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}
#todo_button {
	background-image: url(../../skins/omega/todo.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 15px 5px 0px;
	float: right;
	margin: 5px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}

#file_manager {
	background-image: url(../../skins/omega/file_manager.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 15px 5px 0px;
	float: left;
	margin: 5px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}

#help_button {
	background-image: url(../../skins/omega/help.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 4px 0px 0px 0px;
	cursor: hand;
}
#search_button {
	background-image: url(../../skins/omega/search.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 4px 0px 0px 0px;
	cursor: hand;
}
#exit_button {
	background-image: url(../../skins/omega/exit.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 4px 0px 0px 0px;
	cursor: hand;
}
#fetchmail_button {
	background-image: url(../../skins/omega/fetchmail.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 5px 0px 0px 0px;
	cursor: hand;
}
#calendar_button {
	background-image: url(../../skins/omega/calendar.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 5px 0px 0px 0px;
	cursor: hand;
}
#bookmark_button {
	background-image: url(../../skins/omega/bookmarks.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 4px 0px 0px 0px;
	cursor: hand;
}
.inbox_dropdown {
	background-color: transparent;
}

.top_msg_bar {
	border: 1px solid #DFFFDF;
	background-color: #DAE3ED;
}
.main_header_bar {
	
	background-repeat: repeat-x;
	}
.small_header_bar {
	background-color: White;
}
.left_main {
	border: thin dashed #DCDCDC;
}


#left_inbox_button {
	background-image: url(../../skins/omega/);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}
#left_drafts_button {
	background-image: url(../../skins/omega/);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}
#left_sent_button {
	background-image: url(../../skins/omega/);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}	
#left_trash_button {
	background-image: url(../../skins/omega/);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}	
#left_folder_button {
	background-image: url(../../skins/omega/);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}
	
#left_logo{
	background-image: url(../../skins/omega/header_bg.png);
	float: none;
	height:117px;
	margin: 0px 0px 0px 0px;
}	

.left_button_text { 
	margin: -5px 0px 0px 0px;
	font: 9px;
}
#left_hook {
	padding: 0px 30px 60px 40px;
	float: none;
	margin: 20px 0px 0px 40px;
}
.mbox {
	font-size: .8em; 
	font-weight: bold;
}
.mbox_img_a {
	margin: 10px 10px 0 20px;
}
.mbox_img {
	margin: 0 10px 0 20px;
}
.mbox_trash {
	margin: 0px 16px 0px 20px;
}
#quota {
	width: 95%;
	margin-top: 15px;
	
}
#folders_top {
	width: 100%;
	height: 16px;
	background-image: url(../../skins/omega/folders_top.gif);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	margin-top: 0px;
	padding: 0 0 12 0;
}
#folders {
	width: 100%;
	background-image: url(../../skins/omega/folders_bg.gif);
	background-repeat: repeat-y;
	background-position: top right;
	
}
#folders_bottom {
	height: 14px;
	width: 100%;
	background-image: url(../../skins/omega/folders_bottom.gif);
	background-repeat: no-repeat;
	background-position: top right;
	
}

#folders_top p {
	height: 30px;
	margin-top: 30px;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 0;
	text-align: center;
	line-height: 30px;
}
#todo_top {
	width: 100%;
	height: 30px;
	background-image: url(../../skins/omega/folders_top.gif);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	margin-top: 10px;
}
#todo_top p {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #000;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 0;
	text-align: center;
	line-height: 30px;
}
#todo {
	width: 100%;
	background-image: url(../../skins/omega/folders_bg.gif);
	background-repeat: repeat-y;
	background-position: top right;
	
}
#todo_bottom {
	width: 100%;
	background-image: url(../../skins/omega/folders_bottom.gif);
	background-repeat: no-repeat;
	background-position: top right;
	
}
#extra_top {
	width: 100%;
	background-image: url(../../skins/omega/folders_top.gif);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
}
#extra_top p {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 0;
	text-align: center;
	line-height: 30px;
}
#extra {
	width: 100%;
	background-image: url(../../skins/omega/folders_bg.gif);
	background-repeat: repeat-y;
	background-position: top right;
	
}
#extra_bottom {
	width: 100%;
	background-image: url(../../skins/omega/folders_bottom.gif);
	background-repeat: no-repeat;
	background-position: top right;
	
}
#options p {
	font-weight: bold;
	margin-left: 15px;
}
#cal_top {
	width: 100%;
#	height: 30px;
	background-image: url(../../skins/omega/folders_top.gif);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
}
#cal {
	width: 100%;
	background-image: url(../../skins/omega/folders_bg.gif);
	background-repeat: repeat-y;
	background-position: top right;
	
}
#cal_bottom {
	width: 100%;
	background-image: url(../../skins/omega/folders_bottom.gif);
	background-repeat: no-repeat;
	background-position: top right;
	
}
#cal_top p {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 10;
	text-align: center;
#	line-height: 30px;
}

.cal_head {
	font-size: 1em;
}
.cal_nav a {
	color: #f4dc6b;
	font-size: .8em;
}
.day {
	color: #f4dc6b;
	font-size: .7em;
	font-weight: bold;
	text-align: right;
}
.calendar a {
	font-size: .8em;
}
.calendarEventToday a {
	font-size: .8em;
	color: #0BCF0B;	
}
.calendarToday a {
	font-size: .8em;
	color: #f4dc6b;
}
.calendarEvent a {
	font-size: .8em;
	color: #2F59B5;
	font-weight: bold;	
}


.mbox:hover {
	text-decoration: underline;
}

.try1 p {
	margin-left: 10px;
	font-size: .7em;
	font-weight: bold;
	color: #000;
}

.welcome {
	font-size: .7em;
	text-align: center;
}
.targetMailbox {
	font-size: 1em !important;
	font-size: 1.4em;
	vertical-align: middle;
}
.move_button, .forward_button {
	font-size: 1.4em;
	vertical-align: middle;
}
.flag_button, .unflag_button, .delete_button, .read_button, .unread_button {
	font-size: .8em;
	vertical-align: middle;	
}
.flag_button {
	
}
/* testing */
.inbox_dropdown {
	background-color: transparent;
}
.move_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: none;
	background-image: url(../../skins/omega/mail_move.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	background-color: transparent;
	width: 56px;
}
.forward_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_forward.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #9FA0FF;
	background-color: transparent;
}
.read_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_read.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px
	border: 0px solid #9FA0FF;
	background-color: transparent;
}
.unread_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_unread.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px
	border: 0px solid #9FA0FF;
	background-color: transparent;
}
.delete_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_delete.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px
	border: 0px solid #9FA0FF;
	background-color: transparent;
}
.unflag_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/flag.png);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px
	border: 0px solid #0099FF;
	background-color: transparent;
}
.flag_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/unflag.png);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #0099FF;
	background-color: transparent;
}
.savedraft_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/save_draft.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}
.send_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/send_button.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}
.encrypt_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/encrypt.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}
.decrypt_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/decrypt.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 24px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}
.address_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/address.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}
.signature_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/signature.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}
.spellcheck_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/spellcheck.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}


.toggle, .viewing {
	font-size: .8em;
	color: #f4dc6b;
	vertical-align: baseline;
}
.jack {
	font-size: 1em;
}
.jack a, #right a {
	color: #f4dc6b;
}
.jack a:hover {
	border-bottom: 1px dashed #f4dc6b;
}
.compose input{
	font-size: .8em;
}
th {
	font-size: .8em;
}
th a, .calhead a {
	color: #333333;
}
th a:hover, .calhead a:hover {
	border-bottom: 1px dashed #333333;
}
/* testing */
.inbox_dropdown {
	background-color: transparent;
}

.left_button_text { 
	margin: -5px 0px 0px 0px;
	font: 9px;
}
.message_body_read_text pre {
	font-size: 14px !important;	
}
/*#refresh {
	display: none;	
}*/
.minimize {
	position: absolute;
	top: 6px;
	right: 14px;	
}
