* {
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
}

html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

small {
	color: #000000;
	font-size: 9px;
}

small font {
	color: #000000;
}

body.left small {
	color: #ffffff;
}

pre {
	font-family: verdana;
	font-size: 9px;
}

body {
	font-family: verdana;
	background-image: url(../../skins/omega/header_right_bg.png);
	font-size: 9px;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	text-align: center;
	}

body.left {
	background-image: url(../../skins/omega/folders_bottom.gif);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 181px;
}

body.left span {
	margin-left: 5px;
	margin-right: 0px;
}

textarea {
	background-color: #FDFCFA;
	color: #000000;
	border: 1px double #aaa;
}

.titletext {
	font-weight: bold;
}

td {
	font-size: 7pt;
}

.top_bar_header {
	font-family: verdana;
	font-size: 13px;
	color: #000000;
}

.top_left_bar_handle {
}

.inbox_bar_header {
	font-family: verdana;
	font-size: 10px;
	padding: 10 1;
	color: #000000;
	margin: auto;
}

.inbox_left_bar_handle {
	padding: 1 1;
}

.company_text {
	font-family: verdana;
	font-size: 20px;
	font-style: italic;
	color: #c9d3e4;
}

.targetMailbox {
	font-size: 1em !important;
	font-size: 1.4em;
	vertical-align: middle;
	background-color: #c0c0c0;
}
.mvfwdl {
	background-color: #c0c0c0;
}

.toggle_table {
	background-color: #c0c0c0;
}

.messageinfo_table {
	background-color: #c0c0c0;
}

.mailmessage_table {
	background-color: White;
}

#company_table {
	padding: -10px 0px 0px 0px;
	float: right;
	margin: -6px 0px 0px 0px;
}

.current_folder {
	padding: 1 1;
	background: url(../../skins/omega/left_inbox_bar.gif);
	background-repeat: repeat-x;
	color : #ffffff;
}

.options_bar {
	padding: 1 1;
	background: url(../../skins/omega/options_back.gif);
	background-repeat: repeat-x;
	color : #ffffff;

}

.options_bar.a {
	color: #ffffff;
}

.read_icon_bar {
	background: url(../../skins/omega/readbar_silver.gif);
	background-repeat: repeat-x;
	color : #ffffff;
}

.topbar {
	border: 1px none #66CDAA;
}

.message_header {
	border: 0px solid #FFFFFF;
	background-color: #B3CAF7;
}

.attach_box_top {
	background-color: #B3CAF7;
}

.attach_box_bottom {
	background-color: #ECF0F4;
}

frame {
	border: 0px solid #6B91C3;
}

#f1 {
	border-right-width: 0px;
	border-right-color: #6B91C3;
	border-right: 0px solid #6B91C3;
}

#f2 {
}

#f3 {
	border-top-width: thick;
	border-top-color: #6B91C3;
	border-top: thick solid #6B91C3;
}

.mail_display_header {
	background: White;
	border-bottom: 1px solid #ABABAB;
	border-top: 1px solid #ABABAB;
}

.message_toggle_bar {

	background: url(../../skins/omega/left_inbox_bar.gif);
	background-repeat: repeat-x;
}

.blank_bar {
	background-color: white;
 	border: 0px none;
}

/** Login **/
#container {
	background-image: url(../../skins/omega/images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center left;
	margin: 20em auto 0em auto;
	width: 474px;
	height: 273px;
	position: relative;
}

#container h1 {
	text-align: right;
	font-size: 1em;
	color: #FFFFFF;
	width: 375px;
	margin: 65px 20px 0px 0px;
	position: absolute;
	top: -10px;
	left: 25px;
}

#container fieldset {
	width: 250px;
	margin: 0 auto auto 190px;
	text-align: right;
	border: none;
	position: absolute;
	top: 100px;
	right: 30px;
}

#container p.login {
	font-size: 1em;
	font-weight: bold;
	color: #c0c0c0;
	vertical-align: super;
	margin: 3px 0 0 0;
}

#container input {
	margin: 3px 12px 0px 7px;
	background-color: #FFFFFF;
	height: 16px;
	width: 10em;
	border: 1px solid #c0c0c0;
	font-size: 1em;
	font-weight: normal;
	vertical-align: middle;
}

#container p.small {
	position: fixed;
	bottom: 2px;
	right: 2px;
	font-weight: lighter;
	color: #000000;
}
/** END Login **/

#right_logo {
	background: url(../../skins/omega/logo.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 60px 60px 60px;
	float: right;
	margin: 0px 0px 0px -3px;
	cursor: hand;
}

p.button_text {
	margin: 55px 0px 0px 10px;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}


#inbox_button {
	background: url(../../skins/omega/inbox.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 35px 5px 0px;
	float: left;
	margin: 3px 0px 0px 65px;
	cursor: hand;
	color: #FFFFFF;
}

#compose_button {
	background-image: url(../../skins/omega/compose.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 35px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	color: #FFFFFF;
}

#addresses_button {
	background-image: url(../../skins/omega/address_book.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 35px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	color: #FFFFFF;
}

#folders_button {
	background-image: url(../../skins/omega/folders.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 35px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	color: #FFFFFF;
}

#options_button {
	background-image: url(../../skins/omega/options.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 35px 5px 0px;
	float: left;
	margin: 1px 0px 0px 0px;
	cursor: hand;
	color: #FFFFFF;
}


#todo_button {
	background-image: url(../../skins/omega/todo.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
	color: #FFFFFF;
}

#notes_button {
	background-image: url(../../skins/omega/notes.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
	color: #FFFFFF;
}

#bookmark_button {
	background-image: url(../../skins/omega/bookmarks.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
}

#calendar_button {
	background-image: url(../../skins/omega/calendar.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
}

#fetchmail_button {
	background-image: url(../../skins/omega/fetchmail.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
}

#help_button {
	background-image: url(../../skins/omega/help.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
}

#search_button {
	background-image: url(../../skins/omega/search.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
}

#exit_button {
	background-image: url(../../skins/omega/exit.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 16px 5px 0px;
	float: right;
	margin: 40px 0px 0px 0px;
	cursor: hand;
}

#file_manager {
	background-image: url(../../skins/omega/file_manager.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px 15px 5px 0px;
	float: left;
	margin: 5px 0px 0px 0px;
	cursor: hand;
	Color: #FFFFFF;
}


.inbox_dropdown {
	background-color: transparent;
}

.top_msg_bar {
	border: 1px solid #dfffdf;
	background-color: #dae3ed;
}

.main_header_bar {
	background-repeat: repeat-x;
}

.small_header_bar {
	background-color: White;
}

.left_main {
	border: thin dashed #dcdcdc;
}

#left_inbox_button {
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}

#left_drafts_button {
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}

#left_sent_button {
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}

#left_trash_button {
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}

#left_folder_button {
	position: absolute;
	padding: 4px 15px 5px 30px;
	float: none;
	margin: -5px 0px 0px 0px;
	cursor: hand;
}

#left_logo{
	background-image: url(../../skins/omega/header_bg.png);
	float: none;
	height:117px;
	margin: 0px 0px 0px 0px;
}

.left_button_text {
	margin: -5px 0px 0px 0px;
	font: 9px;
}

#left_hook {
	padding: 0px 30px 60px 40px;
	float: none;
	margin: 20px 0px 0px 40px;
}

.mbox {
	font-size: .8em;
	font-weight: bold;
}

.mbox_img, .mbox_img_a {
	margin-left: 5px;
	margin-right: 5px;
}

#quota {
	width: 95%;
	margin-top: 15px;

}

#folders_top {
	width: 100%;
	height: 16px;
	position: relative;
	margin-top: 0px;
	padding: 0 0 12 0;
}

#folders {
	text-align: left;
	width: 100%;
}

#folders_bottom {
 margin-left: 10px;
	height: 14px;
	width: 100%;
}

#folders_top p {
	height: 30px;
	margin-top: 30px;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 0;
	text-align: center;
	line-height: 30px;
}

#todo_top {
	width: 100%;
	height: 30px;
	position: relative;
	margin-top: 10px;
}

#todo_top p {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #000;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 0;
	text-align: center;
	line-height: 30px;
}

#todo {
	width: 100%;
}

#todo_bottom {
	width: 100%;
}

#extra_top {
	width: 100%;
	position: relative;
}

#extra_top p {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 0;
	text-align: center;
	line-height: 30px;
}

#extra {
	width: 100%;
}

#options p {
	font-weight: bold;
	margin-left: 5px;
}

#cal_top {
	width: 100%;
	height: 30px;
	position: relative;
}

#cal {
	width: 100%;
}

#cal_bottom {
	width: 100%;
}

#cal_top p {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -5px;
	padding: 10;
	text-align: center;
	line-height: 30px;
}

.cal_head {
	font-size: 1em;
}

.cal_nav a {
	color: #f4dc6b;
	font-size: .8em;
}

.day {
	color: #f4dc6b;
	font-size: .7em;
	font-weight: bold;
	text-align: right;
}

.calendar a {
	font-size: .8em;
}

.calendarEventToday a {
	font-size: .8em;
	color: #0BCF0B;
}

.calendarToday a {
	font-size: .8em;
	color: #f4dc6b;
}

.calendarEvent a {
	font-size: .8em;
	color: #2F59B5;
	font-weight: bold;
}


.mbox:hover {
	text-decoration: underline;
}

.try1 p {
	margin-left: 10px;
	font-size: .7em;
	font-weight: bold;
	color: #000;
}

.welcome {
	font-size: .7em;
	text-align: center;
}

.targetMailbox {
	font-size: 1em !important;
	font-size: 1.4em;
	vertical-align: middle;
}

.move_button, .forward_button {
	font-size: 1.4em;
	vertical-align: middle;
}

.flag_button, .unflag_button, .delete_button, .read_button, .unread_button {
	font-size: .8em;
	vertical-align: middle;
}

.flag_button {

}

/* testing */
.inbox_dropdown {
	background-color: transparent;
}

.move_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: none;
	background-image: url(../../skins/omega/mail_move.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	background-color: transparent;
	width: 56px;
}

.forward_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_forward.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #9FA0FF;
	background-color: transparent;
}

.read_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_read.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #9FA0FF;
	background-color: transparent;
}

.unread_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_unread.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #9FA0FF;
	background-color: transparent;
}

.delete_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/mail_delete.gif);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #9FA0FF;
	background-color: transparent;
}

.unflag_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/flag.png);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #0099FF;
	background-color: transparent;
}

.flag_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	Color: #000000;
	border: 0px none;
	background-image: url(../../skins/omega/unflag.png);
	background-repeat: no-repeat;
	margin: 4px;
	padding: 1px;
	border: 0px solid #0099FF;
	background-color: transparent;
}

.savedraft_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/save_draft.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.send_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/send_button.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.encrypt_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/encrypt.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.decrypt_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/decrypt.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 24px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.address_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/address.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.signature_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/signature.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.spellcheck_button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	border: 0px none;
	background-image: url(../../skins/omega/spellcheck.png);
	background-repeat: no-repeat;
	margin: 3px;
	height: 20px;
	border: 1px solid #9FA0FF;
	background-color: #D4E3F0;
}

.toggle, .viewing {
	font-size: .8em;
	color: #f4dc6b;
	vertical-align: baseline;
}

.jack {
	font-size: 1em;
}

.jack a, #right a {
	color: #f4dc6b;
}

.jack a:hover {
	border-bottom: 1px dashed #f4dc6b;
}

.compose input{
	font-size: .8em;
}

th {
	font-size: .8em;
}

th a, .calhead a {
	color: #333333;
}

th a:hover, .calhead a:hover {
	border-bottom: 1px dashed #333333;
}

/* testing */
.inbox_dropdown {
	background-color: transparent;
}

.left_button_text {
	margin: -5px 0px 0px 0px;
	font: 9px;
}

.message_body_read_text pre {
	font-size: 14px !important;
}

/*#refresh {
	display: none;
}*/

.minimize {
	position: absolute;
	top: 6px;
	right: 14px;
}