# Environment

# Either production or development
APPLICATION_ENV = production

#
## Httpd parameters
#

HTTPD_NAME = Nginx
HTTPD_VERSION =
HTTPD_WORKER_PROCESSES = auto
HTTPD_WORKER_PROCESSES_LIMIT = 6
HTTPD_WORKER_CONNECTIONS = 2048
HTTPD_RLIMIT_NOFILE = 65000
HTTPD_USER = www-data
HTTPD_GROUP = www-data
HTTPD_SNAME = nginx
HTTPD_CONF_DIR = /etc/nginx
HTTPD_SITES_AVAILABLE_DIR = /etc/nginx/sites-available
HTTPD_SITES_ENABLED_DIR = /etc/nginx/sites-enabled
HTTPD_ROOT_DIR = /var/www
HTTPD_LOG_DIR = /var/log/nginx
# Cache base directory as provided by nginx package (from debian Team)
HTTPD_CACHE_DIR_DEBIAN = /var/lib/nginx
# Cache base directory as provided by nginx package (from nginx Team)
HTTPD_CACHE_DIR_NGINX = /var/cache/nginx
HTTPD_PID_FILE = /var/run/nginx.pid

#
## PHP parameters
#

PHP_CONF_DIR_PATH = /usr/local/etc/imscp_panel
PHP_PEAR_DIR_PATH = /usr/share/php
PHP_VERSION = 7.1

# PHP OPcode cache (OPcache) parameters
PHP_OPCODE_CACHE_ENABLED = 1
PHP_OPCODE_CACHE_MAX_MEMORY = 64

# PHP APC userland cache (APCu) parameters
PHP_APCU_CACHE_ENABLED = 1
PHP_APCU_CACHE_MAX_MEMORY = 32

# PHP CLI parameters
PHP_CLI_BIN_PATH = /usr/bin/php7.1

#
## PHP-FPM global parameters
#

# Path to system PHP FPM binary, that is, the binary that will be copied to
# create the i-MSCP frontend self FPM
PHP_FPM_BIN_PATH = /usr/sbin/php-fpm7.1

PHP_FPM_LOG_LEVEL = error
PHP_FPM_EMERGENCY_RESTART_THRESHOLD = 10
PHP_FPM_EMERGENCY_RESTART_INTERVAL = 1m
PHP_FPM_PROCESS_CONTROL_TIMEOUT = 60s
PHP_FPM_PROCESS_MAX = 0
PHP_FPM_RLIMIT_FILES = 4096

#
## PHP-FPM pool (imscp_panel) parameters
#

# Process manager mode
# Either: 'static', 'dynamic' or 'ondemand' 
PHP_FPM_PROCESS_MANAGER_MODE = static

# Depending on the process manager mode:
# - Number of child processes to be created (static mode)
# - Maximum of child processes to be created (dynamic or ondemand modes)
PHP_FPM_MAX_CHILDREN = 6

# The number of child processes created on startup.
# Note: Used only when process manager mode is set to 'dynamic'
PHP_FPM_START_SERVERS = 6

# The desired minimum number of idle server processes.
# Note: Used only when pm is set to 'dynamic'
# Note: Mandatory when pm is set to 'dynamic'
PHP_FPM_MIN_SPARE_SERVERS = 1

# The desired maximum number of idle server processes.
# Note: Used only when pm is set to 'dynamic'
# Note: Mandatory when pm is set to 'dynamic'
PHP_FPM_MAX_SPARE_SERVERS = 2

#  The number of seconds after which an idle process will be killed.
# Note: Used only when process manager mode is set to 'ondemand'
PHP_FPM_PROCESS_IDLE_TIMEOUT = 60s

# The number of request each child process should execute before respawning.
PHP_FPM_MAX_REQUESTS = 1000
