body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    color: rgb(255,0,0);
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    letter-spacing: 7px;
}

a {
    font-weight: bold;
    color: rgb(102,102,102);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: normal;
}

#outer {
    height: 1px;
    left: 0;
    overflow: visible;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

#inner {
    background: url(/errors/inc/error_top.jpg) no-repeat;
    border: 1px solid rgb(204,204,204);
    height: auto;
    left: 50%;
    margin-left: -227px;
    padding-bottom: 12px;
    padding-top: 90px;
    position: absolute;
    text-align: center;
    top: -94px;
    width: 453px;
}

#backlink {
    text-align: right;
    padding: 0 10px;
}
