[Unit]
Description=Mounts i-MSCP filesystems
Before=umount.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/perl /var/www/imscp/engine/tools/imscp-mountall start
ExectStop=/usr/bin/perl /var/www/imscp/engine/tools/imscp-mountall stop

[Install]
WantedBy=multi-user.target
