[Unit]
Description=i-MSCP traffic logger
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/perl /var/www/imscp/engine/tools/imscp-net-traffic-logger start
ExecStop=/usr/bin/perl /var/www/imscp/engine/tools/imscp-net-traffic-logger stop

[Install]
WantedBy=multi-user.target
