/**
 * i-MSCP - internet Multi Server Control Panel
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 * @category    iMSCP
 * @package     iMSCP_Core
 * @subpackage  Layout
 * @copyright   2010-2012 by i-MSCP | http://i-mscp.net
 * @link        http://i-mscp.net
 * @author      Laurent Declercq <l.declercq@nuxwin.com>
 */

body {
	background: transparent url(../images/red/background/left_bg.jpg) repeat-y top left;
	color: rgb(26, 26, 26);
}

/* Links */
a, .body th a, .body #loginBox a {color: rgb(255, 255, 255);}
.body a {color: rgb(89, 4, 5);}
a:hover, .active a, .body th a:hover, .body #loginBox a:hover, #box a:hover, #toolbox li a:hover {color: rgb(92, 186, 218);}

/**
 * Header
 */

.header {background: rgb(110, 14, 15) url(../images/red/background/top_bg.jpg) repeat-x top left;}

/* logo */
.header .logo {background: transparent url(../images/red/background/top_left_bg.jpg) no-repeat;}

/* Main menu */
.main_menu {background: transparent url(../images/red/background/mainmenu_left.png) no-repeat top left;}
.main_menu ul {background: transparent url(../images/red/background/mainmenu_bg.png) repeat-x top left;}
.main_menu a:hover, .main_menu .active a{background-color: rgba(255, 255, 255, 0.3);}

/* Location */
.location {background: rgb(89, 4, 5) url(../images/red/background/ui-bg_glass_40_5a0505_1x400.png) repeat-x 50% 50%;}

/* Section */
.location-area h1 {color: rgb(255, 255, 255);}

/* Breadcrumbs */
.path {color: rgb(255, 255, 255);}

/**
 * Left menu
 */

.left_menu {
	background: transparent url(../images/red/background/left_top_bg.jpg) no-repeat top;
	color: rgb(255, 255, 255);
}
.left_menu a {background: transparent url(../images/red/background/bullet.png) no-repeat center left;}
.left_menu a:hover, .left_menu .active a {background-image: url(../images/red/background/bullet_hover.png);}

/**
 * Body
 */

/* titles */
h2 span, h3 span {border-bottom-color: rgb(204, 204, 204);}

/* Tables */
tr:nth-child(odd) {background-color: rgb(237, 237, 237);}
.odd {background-color: rgb(237, 237, 237);}

td {
	border-top-color: rgb(223, 223, 223);
	border-bottom-color: rgb(223, 223, 223);
}
td:first-child {border-left-color: rgb(223, 223, 223);}
td:last-child {border-right-color: rgb(223, 223, 223);}
th, tfoot td {
	background: rgb(89, 4, 5) url(../images/red/background/ui-bg_glass_40_5a0505_1x400.png) repeat-x 50% 50%;
	color: rgb(255, 255, 255);
	border-top-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
}
th:first-child, tfoot td:first-child {border-left-color: rgb(0, 0, 0);}
th:last-child, tfoot td:last-child {border-right-color: rgb(0, 0, 0);}

.datatable tfoot td:first-child {border-left-color: rgb(223, 223, 223);}
.datatable tfoot td:last-child {border-right-color:rgb(223, 223, 223);}
.datatable tfoot td {border-bottom-color:rgb(223, 223, 223);}

/* dataTables */
.datatable .sorting_asc { background: url('../images/red/datatable/asc.png') no-repeat center right; }
.datatable .sorting_desc { background: url('../images/red/datatable/desc.png') no-repeat center right; }
.datatable .sorting { background: url('../images/red/datatable/bg.png') no-repeat center right; }

/* Form elements */

input[type="text"], input[type="password"], select, textarea {
	background:rgb(255,255,255);
	border-color: rgb(204, 204, 204);
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {border-color: rgb(153, 153, 153);}
input[type="text"]:disabled, input[type="password"]:disabled, select:disabled, textarea:disabled{background: rgb(204,204,204) url('../images/background/stripe_0582bcfb31aaf8571dba1adb85ffc318.png') repeat;}

.buttons {background:transparent;}

/** Tooltips */
#imscpTooltip {
	background-color: rgb(89, 4, 5);
	border-color: rgb(89, 4, 5);
}
#imscpTooltip .tooltipBody {color: rgb(255, 255, 255);}
.tooltip_notice {background: url(../images/tooltips/info.png) no-repeat 5px 50%;}

/* services status */
.up { color: rgb(61, 122, 21); }
.down { color: rgb(202, 29, 17);}

/**
 * Footer
 */

.footer {color: rgb(255, 255, 255);}

/**
 * Login, lostpassword and box messages pages
 */

.login	#header, .box_message #header {
	background: rgb(110, 14, 15) url('../images/red/login/stripe.png') repeat-x left top;
	border-bottom-color: rgb(82, 5, 5);
}
.login #logo span, .box_message #logo span {color: rgb(255, 255, 255);}
.login #copyright span a, .box_message #copyright span a {color: rgb(255, 255, 255);}
.login #copyright span a:hover, .box_message #copyright span a:hover {color: rgb(92, 186, 218);}

/* Specific to login and lostpassword pages */
.login #loginBox {background: transparent url('../images/red/login/form_box.png') no-repeat left top;}
.login label span {color: rgb(255, 255, 255);}
.login button {border-color: rgb(255, 255, 255);}
.login #toolbox li a {color: rgb(26, 26, 26);}
.login #toolbox li a:hover {color: rgb(92, 186, 218);}
.login .i_lock {background-image: url('../images/login/i_lock.png');}
.login .i_unlock {background-image: url('../images/login/i_unlock.png');}

/* Specific to box message page */
.box_message #box {
	background: transparent url('../images/red/box/message_top.jpg') no-repeat top left;
	border-color: rgb(204, 204, 204);
}

/** Toogle on/off - override jQuery UI styles */
.ui-widget-header .ui-buttonset .ui-state-default, .ui-widget-content .ui-buttonset .ui-state-default, .ui-buttonset .ui-state-default {background-image: url("../images/red/background/ui-bg_glass_40_5a0505_1x400.png")}
.ui-widget-header .ui-buttonset .ui-state-active, .ui-widget-content .ui-buttonset .ui-state-active, .ui-buttonset .ui-state-active {background-image: url("../images/green/background/ui-bg_glass_40_055a0d_1x400.png")}
.ui-widget-header .ui-buttonset .ui-state-hover, .ui-widget-content .ui-buttonset .ui-state-hover, .ui-buttonset .ui-state-hover {background-image: url("../images/jquery-ui-common/ui-bg_glass_40_5cbada_1x400.png")}