##
### PHP common parameters
##

# List of available PHP versions
PHP_AVAILABLE_VERSIONS =

# Selected PHP alternative for customers
PHP_VERSION =
PHP_VERSION_FULL =

# PHP SAPI for customers
# Either apache2handler, cgi or fpm
PHP_SAPI =

##
### PHP OPcode cache (OPcache) parameters
### Only relevant for the apache2handler and fpm PHP SAPIs
##

PHP_OPCODE_CACHE_ENABLED = 1

# Memory in MiB
# Default value fits for small configurations.
# You should raise this value if you have enough memory.
PHP_OPCODE_CACHE_MAX_MEMORY = 32

##
### PHP APC userland cache (APCu) parameters
### Only relevant for the apache2handler and fpm PHP SAPIs
##

PHP_APCU_CACHE_ENABLED = 1

# Memory in MiB
# Default value fits for small configurations.
# You should raise this value if you have enough memory.
PHP_APCU_CACHE_MAX_MEMORY = 32

##
### PHP cgi SAPI parameters
##

## Global parameters

PHP_FCGI_CHILDREN = 0
PHP_FCGI_MAX_REQUESTS = 1000
PHP_FCGI_STARTER_DIR = /var/www/fcgi

# Max requests handled by each FastCGI application
# Must be lower than the PHP_FCGI_MAX_REQUESTS parameter value
PHP_FCGID_MAX_REQUESTS_PER_PROCESS = 900

# Max HTTP request length
PHP_FCGID_MAX_REQUEST_LEN = 1073741824

# Max number of FastCGI application processes
PHP_FCGID_MAX_PROCESS = 1000

# Communication timeout to FastCGI server
PHP_FCGID_IO_TIMEOUT = 600

## Vhost parameters

# Min PHP process count for a domain
# The class is set on a per vhost basis
PHP_FCGID_MIN_PROCESSES_PER_CLASS = 0

# Max PHP process count for a domain
# The class is set on a per vhost basis
PHP_FCGID_MAX_PROCESS_PER_CLASS = 6

##
### PHP fpm SAPI parameters
##

## Global parameters

PHP_FPM_LOG_LEVEL = error
PHP_FPM_EMERGENCY_RESTART_THRESHOLD = 10
PHP_FPM_EMERGENCY_RESTART_INTERVAL = 1m
PHP_FPM_PROCESS_CONTROL_TIMEOUT = 60s
PHP_FPM_PROCESS_MAX = 0
PHP_FPM_RLIMIT_FILES = 4096

## Pool parameters

# Listen mode (FPM FastCGI addresse type):
# Available modes:
#  - 'tcp' (e.g. 192.168.1.136:9001)
#  - 'uds' (e.g. /run/php/php<version>-fpm-domain.tld.sock)
PHP_FPM_LISTEN_MODE =

# Starting port for TCP/IP FastCGI address type
PHP_FPM_LISTEN_PORT_START = 9000

# Process manager mode
# Either: 'static', 'dynamic' or 'ondemand'
PHP_FPM_PROCESS_MANAGER_MODE = ondemand

# Depending on the process manager mode:
# - Number of child processes to be created (static mode)
# - Maximum of child processes to be created (dynamic or ondemand modes)
PHP_FPM_MAX_CHILDREN = 6

# The number of child processes created on startup.
# Note: Used only when process manager mode is set to 'dynamic'
PHP_FPM_START_SERVERS = 1

# The desired minimum number of idle server processes.
# Note: Used only when pm is set to 'dynamic'
# Note: Mandatory when pm is set to 'dynamic'
PHP_FPM_MIN_SPARE_SERVERS = 1

# The desired maximum number of idle server processes.
# Note: Used only when pm is set to 'dynamic'
# Note: Mandatory when pm is set to 'dynamic'
PHP_FPM_MAX_SPARE_SERVERS = 2

#  The number of seconds after which an idle process will be killed.
# Note: Used only when process manager mode is set to 'ondemand'
PHP_FPM_PROCESS_IDLE_TIMEOUT = 60s

# The number of request each child process should execute before respawning.
PHP_FPM_MAX_REQUESTS = 1000
