/**
 * i-MSCP - internet Multi Server Control Panel
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 * @category    iMSCP
 * @package     iMSCP_Core
 * @subpackage  Layout
 * @copyright   2010-2014 by i-MSCP | http://i-mscp.net
 * @link        http://i-mscp.net
 * @author      Laurent Declercq <l.declercq@nuxwin.com>
 */

body {
    background: #ffffff url(../images/red/background/left_bg.jpg) repeat-y top left;
    color: #1a1a1a;
}

/* Links */

a {
    color: #1a1a1a;
}

.header a,
.location a,
.left_menu a,
.link_as_button a {
    color: #ffffff;
}

a:hover,
.active a {
    color: #5cbada;
}

a:hover.link_as_button {
    color: #ffffff;
}

span.clickable:hover {
    color:#5cbada;
    cursor: pointer;
}

/* header */
.header {
    background: #6e0e0f url(../images/red/background/top_bg.jpg) repeat-x top left;
}

/* logo */
.header .logo {
    background: transparent url(../images/red/background/top_left_bg.jpg) no-repeat;
}

/* Main menu */
.main_menu {
    background: transparent url(../images/red/background/mainmenu_left.png) no-repeat top left;
}

.main_menu ul {
    background: transparent url(../images/red/background/mainmenu_bg.png) repeat-x top left;
}

.main_menu a:hover,
.main_menu .active a {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Location */
.location {
    background: #5a0505 url(../images/red/background/ui-bg_glass_40_5a0505_1x400.png) 50% 50% repeat-x;
}

/* Section */
.location-area h1 {
    color: #ffffff;
}

/* Breadcrumbs */
.path {
    color: #ffffff;
}

/* Left menu */
.left_menu {
    background: transparent url(../images/red/background/left_top_bg.jpg) no-repeat top;
    color: #ffffff;
}

.left_menu a {
    background: transparent url(../images/red/background/bullet.png) no-repeat center left;
}

.left_menu a:hover,
.left_menu .active a {
    background-image: url(../images/red/background/bullet_hover.png);
}

/**
 * Body
 */

/* titles */
h2 span,
h3 span {
    border-bottom-color: #dfdfdf;
}

/* Tables */
thead,
tfoot {
    border-color: #5a0505;
    background: #5a0505 url(../images/red/background/ui-bg_glass_40_5a0505_1x400.png) 50% 50% repeat-x;
    color: #ffffff;
}

tbody {
    border-color: #dfdfdf;
    background: #ffffff url(../images/jquery-ui-common/ui-bg_flat_0_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}

tbody td {
    border-bottom: 1px solid #dfdfdf;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #ededed;
}

/* Form elements */

input[type="text"],
input[type="password"],
select,
textarea {
    background: #ffffff;
    border-color: #cccccc;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #6e0e0f;
    -webkit-box-shadow: 0 0 10px #6e0e0f;
    -moz-box-shadow: 0 0 10px #6e0e0f;
    box-shadow: 0 0 10px #6e0e0f;
}

input[readonly="readonly"],
input[readonly],
input[type="text"]:disabled,
input[type="password"]:disabled,
select:disabled,
textarea[readonly],
textarea:disabled {
    background: #cccccc url('../images/background/stripe_0582bcfb31aaf8571dba1adb85ffc318.png') repeat;
    border-color: #cccccc!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.buttons {
    background: transparent;
}

/** Tooltips */
#imscpTooltip {
    background-color: #590405;
    border-color: #590405;
}

#imscpTooltip .tooltipBody {
    color: #ffffff;
}

.tooltip_notice {
    background: url(../images/tooltips/info.png) no-repeat 5px 50%;
}

/* services status */
.up {
    color: #3d7a15;
}

.down {
    color: #ca1d11;
}

/**
 * Footer
 */

.footer {
    color: #ffffff;
}

/** Toogle on/off - override jQuery UI styles */
.ui-widget-header .ui-buttonset .ui-state-default,
.ui-widget-content .ui-buttonset .ui-state-default,
.ui-buttonset .ui-state-default {
    background-image: url("../images/red/background/ui-bg_glass_40_5a0505_1x400.png");
}

.ui-widget-header .ui-buttonset .ui-state-active,
.ui-widget-content .ui-buttonset .ui-state-active,
.ui-buttonset .ui-state-active {
    background-image: url("../images/green/background/ui-bg_glass_40_055a0d_1x400.png");
}

.ui-widget-header .ui-buttonset .ui-state-hover,
.ui-widget-content .ui-buttonset .ui-state-hover,
.ui-buttonset .ui-state-hover {
    background-image: url("../images/jquery-ui-common/ui-bg_glass_40_5cbada_1x400.png");
}
