/**
 * i-MSCP - internet Multi Server Control Panel
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 * @category    iMSCP
 * @package     iMSCP_Core
 * @subpackage  Layout
 * @copyright   2010-2014 by i-MSCP | http://i-mscp.net
 * @link        http://i-mscp.net
 * @author      Laurent Declercq <l.declercq@nuxwin.com>
 * @author      i-MSCP Team
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* i-MSCP addon */
*:focus {
    outline: 0;
}

/**
 * Page layout
 */

html {
    position: relative;
    height: 100%;
}

body {
    display: inline-table;
    width:100%;
    min-width: 850px;
    position: relative;
    height: 100%;
    font: 12px/18px Arial, Helvetica, sans-serif;
}

.no_min_width {
    min-width: 0;
}

#wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
}

/* Links */
a {
    text-decoration: none;
}

/**
 * Header
 */

.header {
    position: relative;
    white-space: nowrap;
    height: 89px;
    overflow: hidden;
}

/* Main menu */
.main_menu {
    float: right;
    height: 64px;
    padding-left: 5px;
}

.main_menu ul {
    float: left;
    height: 64px;
}

.main_menu li {
    display: inline;
}

.main_menu ul li a {
    float: left;
    display: block;
    padding: 6px;
    height: 35px;
    background: no-repeat center center;
    text-align: center;
    text-decoration: none;
    margin: 6px 0.3em 0 0.3em;
    min-width: 35px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.main_menu ul li a:hover {
    text-decoration: none;
}

.main_menu ul li .show_labels {
    background-color: transparent;
    background-position: center top;
    line-height: 70px;
}

/* Main menu icons */
.main_menu .general {
    background-image: url(../images/menu/general.png);
}

.main_menu .general:hover, .main_menu .active .general {
    background-image: url(../images/menu/general_a.png);
}

.main_menu .manage_users {
    background-image: url(../images/menu/manage_users.png);
}

.main_menu .manage_users:hover, .main_menu .active .manage_users {
    background-image: url(../images/menu/manage_users_a.png);
}

.main_menu .domains {
    background-image: url(../images/menu/domains.png);
}

.main_menu .domains:hover, .main_menu .active .domains {
    background-image: url(../images/menu/domains_a.png);
}

.main_menu .webtools {
    background-image: url(../images/menu/webtools.png);
}

.main_menu .webtools:hover, .main_menu .active .webtools {
    background-image: url(../images/menu/webtools_a.png);
}

.main_menu .hosting_plans {
    background-image: url(../images/menu/hosting_plans.png);
}

.main_menu .hosting_plans:hover, .main_menu .active .hosting_plans {
    background-image: url(../images/menu/hosting_plans_a.png);
}

.main_menu .support {
    background-image: url(../images/menu/support.png);
}

.main_menu .support:hover, .main_menu .active .support {
    background-image: url(../images/menu/support_a.png);
}

.main_menu .settings {
    background-image: url(../images/menu/settings.png);
}

.main_menu .settings:hover, .main_menu .active .settings {
    background-image: url(../images/menu/settings_a.png);
}

.main_menu .custom_link {
    background-image: url(../images/menu/custom_link.png);
}

.main_menu .custom_link:hover, .main_menu .active .custom_link {
    background-image: url(../images/menu/custom_link_a.png);
}

.main_menu .database {
    background-image: url(../images/menu/database.png);
}

.main_menu .database:hover, .main_menu .active .database {
    background-image: url(../images/menu/database_a.png);
}

.main_menu .email {
    background-image: url(../images/menu/email.png);
}

.main_menu .email:hover, .main_menu .active .email {
    background-image: url(../images/menu/email_a.png);
}

.main_menu .ftp {
    background-image: url(../images/menu/ftp.png);
}

.main_menu .ftp:hover, .main_menu .active .ftp {
    background-image: url(../images/menu/ftp_a.png);
}

.main_menu .purchasing {
    background-image: url(../images/menu/purchasing.png);
}

.main_menu .purchasing:hover, .main_menu .active .purchasing {
    background-image: url(../images/menu/purchasing_a.png);
}

.main_menu .statistics {
    background-image: url(../images/menu/statistics.png);
}

.main_menu .statistics:hover, .main_menu .active .statistics {
    background-image: url(../images/menu/statistics_a.png);
}

.main_menu .profile {
    background-image: url(../images/menu/profile.png);
}

.main_menu .profile:hover, .main_menu .active .profile {
    background-image: url(../images/menu/profile_a.png);
}

/**
 * Location
 */

.location {
    position: relative;
    height: 24px;
    line-height: 24px;
    padding-left: 197px;
    z-index: 2;
}

/** Section */
.location-area {
    position: absolute;
    left: 0.5em;
    top: 0;
    height: 30px;
    z-index: 1000;
}

.location-area h1 {
    background: no-repeat center left;
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 35px;
    font-variant: small-caps;
}

.location-area .custom_link {
    background-image: url(../images/menu/custom_link.png);
}

.location-area .database {
    background-image: url(../images/menu/database.png);
}

.location-area .domains {
    background-image: url(../images/menu/domains.png);
}

.location-area .email {
    background-image: url(../images/menu/email.png);
}

.location-area .ftp {
    background-image: url(../images/menu/ftp.png);
}

.location-area .general {
    background-image: url(../images/menu/general.png);
}

.location-area .hosting_plans {
    background-image: url(../images/menu/hosting_plans.png);
}

.location-area .manage_users {
    background-image: url(../images/menu/manage_users.png);
}

.location-area .purchasing {
    background-image: url(../images/menu/purchasing.png);
}

.location-area .settings {
    background-image: url(../images/menu/settings.png);
}

.location-area .statistics {
    background-image: url(../images/menu/statistics.png);
}

.location-area .support {
    background-image: url(../images/menu/support.png);
}

.location-area .profile {
    background-image: url(../images/menu/profile.png);
}

.location-area .webtools {
    background-image: url(../images/menu/webtools.png);
}

/* Breadcrumbs */
.path {
    float: left;
    margin-left: 0.5em;
    font-size: 0.9em;
}

.path li {
    display: inline;
}

.path li:before {
    content: "\0020 \0020 \0020 \00BB \0020";
}

.path li:first-child:before {
    content: "";
}

/* Location menu */
.location-menu {
    float: right;
    font-weight: bold;
}

.location-menu li {
    display: inline;
}

.location-menu li a {
    float: left;
    display: block;
    background: transparent no-repeat center left;
    padding: 0 0.5em 0 1.5em;
    text-decoration: none;
}

.location-menu .logout {
    background-image: url(../images/user/logout.png);
}

.location-menu .backadmin {
    background-image: url(../images/user/backadmin.png);
}

/**
 * Left menu
 */

.left_menu {
    position: absolute;
    left: 0;
    width: 197px;
    height: 70%;
    font-weight: bold;
    overflow: visible;
}

.left_menu ul {
    margin: 10px 0 0 0.5em;
    list-style: none;
}

.left_menu li {
    display: inline;
}

.left_menu a {
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

.no_menu {
    background-image: none;
}

/**
 * Body
 */

.body {
    position: relative;
    margin-left: 197px;
    padding: 0.5em 23px 20px 43px;
    overflow: hidden;
}

/* Titles */
h2,
h3 {
    position: relative;
    width: 100%;;
    left: -33px;
    clear: both;
    font-variant: small-caps;
    font-weight: bold;
    height: 33px;
    background: no-repeat top left;
    padding-left: 33px;
    margin-right: -33px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

h2 span, h3 span {
    display: block;
    width: 100%;
    border-bottom: 1px solid;
}

/* Title icons */

.body .adminlog {
    background-image: url(../images/content/table_icon_adminlog.png);
}

.body .debugger {
    background-image: url(../images/content/table_icon_debugger.png);
}

.body .diskusage {
    background-image: url(../images/content/table_icon_diskusage.png);
}

.body .doc {
    background-image: url(../images/content/table_icon_doc.png);
}

.body .domains {
    background-image: url(../images/content/table_icon_domains.png);
}

.body .email {
    background-image: url(../images/content/table_icon_email.png);
}

.body .errors {
    background-image: url(../images/content/table_icon_errors.png);
}

.body .flash {
    background-image: url(../images/content/table_icon_flash.png);
}

.body .ftp {
    background-image: url(../images/content/table_icon_ftp.png);
}

.body .general {
    background-image: url(../images/content/table_icon_general.png);
}

.body .hdd {
    background-image: url(../images/content/table_icon_hdd.png);
}

.body .htaccess {
    background-image: url(../images/content/table_icon_htaccess.png);
}

.body .ip {
    background-image: url(../images/content/table_icon_ip.png);
}

.body .layout {
    background-image: url(../images/content/table_icon_layout.png);
}

.body .maintenancemode {
    background-image: url(../images/content/table_icon_maintenancemode.png);
}

.body .multilanguage {
    background-image: url(../images/content/table_icon_multilanguage.png);
}

.body .no {
    background-image: url(../images/content/table_icon_no.png);
}

.body .password {
    background-image: url(../images/content/table_icon_password.png);
}

.body .serverstatus {
    background-image: url(../images/content/table_icon_serverstatus.png);
}

.body .hosting_plans {
    background-image: url(../images/content/table_icon_hosting_plans.png);
}

.body .settings {
    background-image: url(../images/content/table_icon_settings.png);
}

.body .sql {
    background-image: url(../images/content/table_icon_sql.png);
}

.body .stats {
    background-image: url(../images/content/table_icon_stats.png);
}

.body .support {
    background-image: url(../images/content/table_icon_support.png);
}

.body .profile {
    background-image: url(../images/content/table_icon_profile.png);
}

.body .systeminfo {
    background-image: url(../images/content/table_icon_systeminfo.png);
}

.body .tools {
    background-image: url(../images/content/table_icon_tools.png);
}

.body .traffic {
    background-image: url(../images/content/table_icon_traffic.png);
}

.body .update {
    background-image: url(../images/content/table_icon_update.png);
}

.body .user_blue {
    background-image: url(../images/content/table_icon_user_blue.png);
}

.body .user_green {
    background-image: url(../images/content/table_icon_user_green.png);
}

.body .user_yellow {
    background-image: url(../images/content/table_icon_user_yellow.png);
}

.body .user {
    background-image: url(../images/content/table_icon_user.png);
}

.body .users {
    background-image: url(../images/content/table_icon_users.png);
}

.body .users2 {
    background-image: url(../images/content/table_icon_users2.png);
}

.body .apps_installer {
    background-image: url(../images/content/table_icon_app_installer_cd_big.png);
}

.body .custom_link {
    background-image: url(../images/content/table_icon_custom_link.png);
}

.body .plugin {
    background-image: url(../images/content/table_icon_plugin.png);
}

/* Paragraph */
p {
    margin: 0.5em 0;
}

/* other */
.bold,
strong,
b {
    font-weight: bold;
}

.italic,
i {
    font-style: italic;
}

small {
    font-size: smaller;
}

/** Flash messages */
.warning,
.success,
.error,
.info {
    margin: 0.5em 0 1.5em 0;
    border: 1px solid;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.warning {
    color: #954a00;
    border-color: #954a00;
    background-color: #ffec9c;
    background-image: url(../images/messages/warning.png);
}

.success {
    color: #3d7a15;
    border-color: #3d7a15;
    background-color: #d6f1b3;
    background-image: url(../images/messages/success.png);
}

.error {
    color: #ca1d11;
    border-color: #ca1d11;
    background-color: #fdbfad;
    background-image: url(../images/messages/error.png);
}

.info {
    color: #0f3d87;
    border-color: #0f3d87;
    background-color: #b0def5;
    background-image: url(../images/messages/info.png);
}

/* Tables */
table {
    width: 100%;
    margin: 1em 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
}

table input,
table select,
table textarea,
table button {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

thead,
tfoot {
    border: 1px solid;
    font-weight: bold;
}

thead th,
tfoot td {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
    text-align: left;
}

tbody {
    border: 1px solid;
}

tbody td {
    padding: 5px 5px 3px 5px;
    height: 36px;
    vertical-align: middle;
    /*overflow: visible;*/
}

.firstColFixed td:first-child {
    width: 300px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
}

/* Hack to fix firefox's bad legend positioning */
@-moz-document url-prefix() { legend { top: -1.5em; }}
table .icon {
    float: none;
}

.radio {
    display: inline;
}

/* Icons */
.app_icon {
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    display: -moz-inline-block;
    display: inline-block;
    margin: 0 -5px 0 5px;
}

.icon {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    display: -moz-inline-block;
    overflow: hidden;
    height: 16px;
    line-height: 18px;
    padding-left: 20px;
}

.paginator .icon {
    width: 0;
    height: 16px;
    line-height: 32px;
}

.icon.big {
    line-height: 44px;
    height: 44px;
    padding-left: 48px;
}

.icon:first-child {
    margin-right: 0;
}

.isp_logo {
    margin: 0 auto;
    text-align: center;
}

.body .icon_center {
    display: block;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 46px;
    cursor: pointer;
}

/* Content icons (link icons) */
.i_add_user {
    background-image: url(../images/icons/add_user.png);
}

.i_awstatsicon {
    background-image: url(../images/icons/awstatsicon.png);
}

.i_backupicon {
    background-image: url(../images/icons/backupicon.png);
}

.i_bc_folder {
    background-image: url(../images/icons/bc_folder.png);
}

.i_bc_locked {
    background-image: url(../images/icons/bc_locked.png);
}

.i_bc_parent {
    background-image: url(../images/icons/bc_parent.png);
}

.i_change_password {
    background-image: url(../images/icons/change_password.png);
}

.i_close_interface {
    background-image: url(../images/icons/close_interface.png);
}

.i_database_small {
    background-image: url(../images/icons/database_small.png);
}

.i_db_comit {
    background-image: url(../images/icons/db_comit.png);
}

.i_delete {
    background-image: url(../images/icons/delete.png);
}

.i_details {
    background-image: url(../images/icons/details.png);
}

.i_disabled {
    background-image: url(../images/icons/disabled.png);
}

.i_document {
    background-image: url(../images/icons/document.png);
}

.i_domain_icon {
    background-image: url(../images/icons/domain_icon.png);
}

.i_edit {
    background-image: url(../images/icons/edit.png);
}

.i_error {
    background-image: url(../images/icons/error.png);
}

.i_error401 {
    background-image: url(../images/icons/error401.png);
}

.i_error403 {
    background-image: url(../images/icons/error403.png)
}

.i_error404 {
    background-image: url(../images/icons/error404.png);
}

.i_error500 {
    background-image: url(../images/icons/error500.png);
}

.i_error503 {
    background-image: url(../images/icons/error503.png);
}

.i_errordocsicon {
    background-image: url(../images/icons/errordocsicon.png);
}

.i_filemanagericon {
    background-image: url(../images/icons/filemanagericon.png);
}

.i_ftp_account {
    background-image: url(../images/icons/ftp_account.png);
}

.i_goto {
    background-image: url(../images/icons/goto.png);
}

.i_help {
    background-image: url(../images/icons/help.png);
}

.i_hide_alias {
    background-image: url(../images/icons/hide_alias.png);
}

.i_htaccessicon {
    background-image: url(../images/icons/htaccessicon.png);
}

.i_identity {
    background-image: url(../images/icons/identity.png);
}

.i_locale {
    background-image: url(../images/icons/locale.png);
}

.i_mail_icon {
    background-image: url(../images/icons/mail_icon.png);
}

.i_next {
    background-image: url(../images/icons/next.png);
}

.i_next_gray {
    background-image: url(../images/icons/next_gray.png);
}

.i_ok {
    background-image: url(../images/icons/ok.png);
}

.i_filemanager {
    background-image: url(../images/icons/filemanager.png);
}

.i_pma {
    background-image: url(../images/icons/pma.png);
}

.i_prev {
    background-image: url(../images/icons/prev.png);
}

.i_prev_gray {
    background-image: url(../images/icons/prev_gray.png);
}

.i_reload {
    background-image: url(../images/icons/reload.png);
}

.i_refresh {
    background-image: url(../images/icons/arrow_refresh.png);
}

.i_show_alias {
    background-image: url(../images/icons/show_alias.png);
}

.i_stats {
    background-image: url(../images/icons/stats.png);
}

.i_user {
    background-image: url(../images/icons/user.png);
}

.i_users {
    background-image: url(../images/icons/users.png);
}

.i_webmailicon {
    background-image: url(../images/icons/webmailicon.png);
}

.i_app_installer {
    background-image: url(../images/icons/app_installer_cd.png);
}

.i_app_installed {
    background-image: url(../images/icons/help.png);
}

.i_app_download {
    background-image: url(../images/icons/app_installer_download.png);
}

.i_app_asc {
    background-image: url(../images/icons/app_installer_asc.gif);
}

.i_app_desc {
    background-image: url(../images/icons/app_installer_desc.gif);
}

.i_appicon {
    background-image: url(../images/icons/appicon.png);
}

.i_open {
    background-image: url(../images/icons/open.png);
}

.i_close {
    background-image: url(../images/icons/close.png);
}

.i_lock {
    background-image: url('../images/login/i_lock.png');
}

.i_unlock {
    background-image: url('../images/login/i_unlock.png');
}

/* * * * * * *
 * DataTables
 */

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1; /* Feeling sorry for IE */
    overflow-x: auto;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_length,
.dataTables_filter {
    margin-bottom: 0.5em;
}

.datatable thead th {
    cursor: pointer;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: transparent !important;

    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 20px;
    padding-left: 23px;
}

.dataTables_info,
.dataTables_paginate {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.paginate_disabled_previous {
    background: url('../images/icons/prev_gray.png') no-repeat top left;
}

.paginate_enabled_previous {
    background: url('../images/icons/prev.png') no-repeat top left;
}

.paginate_disabled_next {
    background: url('../images/icons/next_gray.png') no-repeat top right;
}

.paginate_enabled_next {
    background: url('../images/icons/next.png') no-repeat top right;
}

/* * * * * * * * * **
 * DataTables display
 */
table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

/* Form elements */
table input[type="text"], table input[type="password"] {
    min-width: 200px;
}

input, select, textarea {
    vertical-align: middle;
}

input[type="text"],
input[type="password"],
select,
textarea {
    padding: 4px;
    border: 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

/* Override border defined by jQuery UI css framework - .body selector is needed here to increase weight for this rule */
.body input[type="submit"],
.body input[type="button"],
.body button {
    border: 0 none;
}

textarea {
    width: 100%;
    height: 550px;
}

table textarea {
    width: 95%;
    height: 250px;
}

.inputTitle {
    width: 95%;
}

.buttons {
    text-align: right;
    margin: 0.5em 0;
}

/* Graph */
.graph {
    height: 20px;
    background: url('../images/background/graph_empty.png') no-repeat right top;
    width: 100%;
    margin-bottom: 0.5em;
    padding-right: 3px;
    position : relative;
    overflow: hidden;
}

.graph span {
    display: block;
    min-width: 3px;
    height: 20px;
    background: url('../images/background/graph_full.png') no-repeat left top;
    width: 0;
}

.graph strong {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(0, 0, 0);
    line-height: 20px;
    width: 100%;
    text-align: center;
}

table .graph {
    width: 99%;
}

/*Ajax spinner */
.small-spinner {
    display: none;
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
    vertical-align: middle;
}

/* Tooltips */
#imscpTooltip {
    min-width: 150px;
    padding: 15px 5px;
    position: absolute;
    z-index: 3000;
    border: 1px solid;
    opacity: 0.85;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#imscpTooltip.tooltip_icon {
    max-width: 600px;
    padding: 15px 5px 15px 45px;
}

#imscpTooltip .tooltipBody {
    font-size: 0.90em;
    font-weight: bold;
    text-align: left;
}

.tips {
    cursor: pointer;
}

.icon.i_help {
    position: relative;
    width: 0;
    vertical-align: middle;
    margin-left: 0.5em;
    overflow: hidden;
}

/* Pagination (for backward compatibility) - Will be removed ASAP */
.paginator {
    margin: 0.5em 0;
    float: right;
}

.paginator .icon {
    width: 0;
    overflow: hidden;
    height: 20px;
    margin: 0;
}

/**
 * Footer
 */
.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 197px;
    height: 4em;
    font-weight: bold;
    line-height: 1.2em;
    /*padding: 1em 0;*/
}

.no_footer .footer {
    display: none;
}

/* Accordion */

#package_details {
    width: 550px;
    text-align: left;
    margin: 10px 0;
}

#package_details div {
    padding: 0;
}

.accordion .left {
    width: 35%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 13px;
}

.accordion .right {
    display: inline-block;
    vertical-align: middle;
}

.accordion .odd,
.accordion .even {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
