# Courier authdaemon
AUTHDAEMON_USER = daemon
AUTHDAEMON_GROUP = daemon
AUTHLIB_CONF_DIR = /etc/courier
AUTHLIB_SOCKET_DIR = /var/run/courier/authdaemon
AUTHDAEMON_SNAME = courier-authdaemon
AUTHDAEMON_DATABASE_USER =
AUTHDAEMON_DATABASE_PASSWORD =

# Courier IMAP/POP3
COURIER_CONF_DIR = /etc/courier
COURIER_IMAP_SSL = imapd-ssl
COURIER_POP_SSL = pop3d-ssl
IMAPD_SNAME = courier-imap
IMAPD_SSL_SNAME = courier-imap-ssl
POPD_SNAME = courier-pop
POPD_SSL_SNAME = courier-pop-ssl

# Cyrus SASL
SASL_CONF_DIR = /etc/postfix/sasl
PWCHECK_METHOD= authdaemon
LOG_LEVEL = 2
MECH_LIST = plain login
AUTHDAEMON_PATH = /var/run/courier/authdaemon/socket

# Maildrop
QUOTA_WARN_MSG_PATH = /etc/quotawarnmsg


