@CHARSET "UTF-8";

@IMPORT url("simple-imscp.css");

.body {
	margin:0;
	padding:0;
	background: #eeeeee;
}

.header {
	height: 50px;
	margin-bottom:100px;
	background: url(../images/background/stripe.png) repeat-x top left;
	color: #ffffff;
	border-bottom: 3px solid #666666;
}


#logo {
	float: left;
	text-align: center;
	top: 50%;
	display: table;
	height: 48px;
	padding-left: 5px;
}

#logoInner {
	display: table-cell;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
}

#logoInner img {
	vertical-align: middle;
}

#copyright {
	float: right;
	color: #cccccc;
	text-align: right;
	padding-right: 5px;
	display: table;
	height: 48px;
}

#copyrightInner {
	display: table-cell;
	padding-top: 10px;
}

#copyrightInner a {
	color: #ffffff;
	text-decoration: none;
}

#copyrightInner a:hover {
	color: rgb(92,186,218);
	text-decoration: underline;
}

.message {
	position:absolute;
	top:53px;
	left:200px;
	right:200px;
	width: 400px;
	margin: 0px auto;
	min-height: 22px;
	border-width: 2px;
	border-top:none;
}

form {
	text-align: left;
	width: 316px;
	min-height: 339px;
    height: 339px;
	background-image: url('../images/login/logon_blue.png');
	background-repeat: no-repeat;
	background-position: center top;
}

form fieldset {
    position: absolute;
    top:170px;
	width : 300px;
	margin: 0 auto;
	padding : 0;
}

label{
	font-weight : bold;
	display : block;
	color: #fff;
	text-align : right;
	margin-top : 5px;
}

label input{
	width : 180px;
	margin-left : 1em;
} 

.buttons {
	margin-top:30px;
}

form div.buttons input {
	background-image: url('../images/login/logon2_button.png');
	width: 130px;
	height: 30px;
	border: none;
	font-size:9px;
	line-height: 25px;
	font-weight:bold;
}

.body tr:nth-child(odd),.body td,.body tr {
	background: transparent;
	border: none;
	color: #eee;
}

a {
	color: #eee;
}

.i_lock {
	background-image: url('../images/login/i_lock.png');
}

.toolsbox {
	margin-top:30px;
	width: 316px;
	height: 64px;
    text-align: right;
}

.toolsbox ul a{
	display: block;
	width: 33%;
	float: left;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 35px;
	color: #000;
	text-align: center;
	text-decoration: none;
}

.toolsbox ul {
	text-align: right;
    padding: 0 0 0 10px;
    height: 64px;
}

.toolsbox li {
    margin: 0;
    padding: 0;
    display: inline;
}

.toolsbox a.pma{
	background-image : url('../images/login/phpmyadmin.png');
}

.toolsbox a.filemanager{
	background-image : url('../images/login/filemanager.png');
}

.toolsbox a.webmail{
	background-image : url('../images/login/webmail.png');
}

.toolsbox a {
    margin: 0 0 0 0;
    display: inline-block;
    padding: 5px 0 0;
    color: rgb(255, 255, 255);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Firefox 1.x/2.x hack because they don't support inline-block! */
.toolsbox a, x:-moz-any-link {
    float: left;
    display: block;
}

.toolsbox a, x:-moz-any-link, x:default {
    float: none;
    display: inline-block;
}

/******* end of hack ******/

.toolsbox a:hover, .toolsLinks .active {
    text-decoration: underline;
     color: rgb(92,186,218);
}

#outer {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#outer[id] {
	display: table;
	position: static;
}

#middle {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}  /* for explorer only*/

#middle[id] {
	display: table-cell;
	vertical-align: middle;
	position: static;
}

#inner {
	position: relative;
	top: -50%;
	text-align: left;
}  /* for explorer only */

#inner {
	width: 316px;
	margin-left: auto;
	margin-right: auto;
} /* for all browsers*/
