@CHARSET "UTF-8";

@IMPORT url("simple-imscp.css");

form {
	text-align: left;
	width: 316px;
	min-height: 339px;
    height: 339px;
	background-image: url('../images/login/logon_blue.png');
	background-repeat: no-repeat;
	background-position: center top;
	border: solid 1px #fff;
}

form fieldset {
    position: absolute;
    top:170px;
	width : 300px;
	margin: 0 auto;
	padding : 0;
}

label{
	font-weight : bold;
	display : block;
	color: #fff;
	text-align : right;
	margin-top : 5px;
}
label input{
	width : 180px;
	margin-left : 1em;
} 

form table {}

.buttons {
	margin-top:30px;
}

form div.buttons input {
	background-image: url('../images/login/logon2_button.png');
	width: 130px;
	height: 30px;
	border: none;
	font-size:9px;
	line-height: 25px;
	font-weight:bold;
}

.body tr:nth-child(odd),.body td,.body tr {
	background: transparent;
	border: none;
	color: #eee;
}

a {
	color: #eee;
}

.i_lock {
	background-image: url('../images/login/i_lock.png');
}

/*
.lostpwd {
	width: 316px;
	height: 32px;
	margin: auto auto;
}

.lostpwd a {
	display: block;
	color: #000;
	text-align: center;
}

.lostpwd a:hover, .toolsLinks .active {
    text-decoration: underline;
    color: rgb(51, 51, 255);
}
*/
.toolsbox {
	margin-top:30px;
	width: 316px;
	height: 64px;
    text-align: right;
}

.toolsbox ul a{
	display: block;
	width: 33%;
	float: left;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 35px;
	color: #000;
	text-align: center;
	text-decoration: none;
}

.toolsbox ul {
	text-align: right;
    padding: 0 0 0 10px;
    height: 64px;
}

.toolsbox li {
    margin: 0;
    padding: 0;
    display: inline;
}

.toolsbox a.pma{
	background-image : url('../images/login/phpmyadmin.png');
}

.toolsbox a.filemanager{
	background-image : url('../images/login/filemanager.png');
}

.toolsbox a.webmail{
	background-image : url('../images/login/webmail.png');
}

.toolsbox a {
    margin: 0 0 0 0;
    display: inline-block;
    padding: 5px 0 0;
    color: rgb(255, 255, 255);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Firefox 1.x/2.x hack because they don't support inline-block! */
.toolsbox a, x:-moz-any-link {
    float: left;
    display: block;
}

.toolsbox a, x:-moz-any-link, x:default {
    float: none;
    display: inline-block;
}

/******* end of hack ******/

.toolsbox a:hover, .toolsLinks .active {
    text-decoration: underline;
     color: rgb(92,186,218);
}

#outer {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#outer[id] {
	display: table;
	position: static;
}
#middle {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}  /* for explorer only*/

#middle[id] {
	display: table-cell;
	vertical-align: middle;
	position: static;
}

#inner {
	position: relative;
	top: -50%;
	text-align: left;
}  /* for explorer only */

#inner {
	width: 316px;
	margin-left: auto;
	margin-right: auto;
} /* for all browsers*/
