/***********************************************************************************
 * PAGE LAYOUT
 ***********************************************************************************/

body,html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
}

html {
    position: relative;
    /*padding-bottom: 1em;*/
}

.header {
    background: url(../images/background/top_bg.jpg) repeat-x top left;
    overflow: hidden;
    white-space: nowrap;
    height: 89px;
}

.header .logo {
    background: url(../images/background/top_left_bg.jpg) no-repeat;
}

.location {
    background: #000 url(../images/background/top_bar_bg.jpg) repeat-x top left;
    color: #fff;
    padding-left: 197px;
    height: 25px;
    line-height: 25px;
    position: relative;
    overflow: visible;
}

.body {
    margin: 0 20px 0 20px;
}

/***********************************************************************************
 * GENERAL INTERFACE STYLES
 ***********************************************************************************/

h2 {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    position: relative;
    left: -33px;
    padding-left: 33px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: top left;
    margin: 0.5em 0 0;
}

h2 span {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-right: -33px;
}

form {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #009;
    outline: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.app_icon {
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    display: -moz-inline-block;
    display: inline-block;
    margin: 0 -5px 0 5px;
    float: right;
}

.icon {
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    display: -moz-inline-block;
    display: inline-block;
    margin: 0 5px;
    float: right;
}

.icon.big{
		line-height : 44px;
		height : 44px;
		padding-left : 48px;
}

.icon:first-child {
    margin-right: 0;
}

table .icon {
    float: none;
}

/***********************************************************************************
 * BODY STYLE
 ***********************************************************************************/

.body table {
    width: 100%;
    border-collapse: collapse;
}

.body tr {
    border: 1px solid rgb(223,223,223);
    background: #fff;
}

.body tr:nth-child(odd) {
    background: #eee;
}

.body tfoot td,
.body th {
    background: #000 url(../images/background/top_bar_bg.jpg) repeat-x;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.body th a{
	color : #fff;
}

.body td {
    padding: 5px;
   /* white-space: nowrap;*/
    border-top: 1px solid rgb(223,223,223);
    border-bottom: 1px solid rgb(223,223,223);
}


/* Content icons (link icons) */
.i_bc_folder { background-image: url(../images/icons/bc_folder.png); }
.i_bc_parent { background-image: url(../images/icons/bc_parent.png); }

