PROFTPD_VERSION =

FTPD_SNAME = proftpd
FTPD_CONF_DIR = /etc/proftpd
FTPD_CONF_FILE = /etc/proftpd/proftpd.conf
FTPD_TRAFF_LOG_PATH = /var/log/proftpd/xferlog

FTPD_PASSIVE_PORT_RANGE =

MIN_UID = 1001
MIN_GID = 1001

DATABASE_USER =
DATABASE_PASSWORD =

#
## You can edit the parameters bellow
#

# See http://www.proftpd.org/docs/directives/linked/config_ref_MaxInstances.html
MAX_INSTANCES = 100

# See http://www.proftpd.org/docs/directives/linked/config_ref_MaxClientsPerHost.html
MAX_CLIENT_PER_HOST = none
