<?php
/*******************************************************************************

    Author ......... Jimmy Conner
    Contact ........ jimmy@advcs.org
    Home Site ...... http://www.advcs.org/
    Program ........ Plugin Updates
    Version ........ 0.7
    Purpose ........ Check your currently installed plugins for updates

*******************************************************************************/

   // Username of admin capable of viewing plugin list
   $update->adminusername = "jimmy@advcs.org";

   // Don't check for data file updates, 1 = dont check 0 = check
   $update->dontupdate = 0;

   // Hide the plugins that have been added to CVS, 1 = hide 0 = show
   $update->cvshide = 1;

   // Hide the current Stable Version, 1 = hide 0 = show
   $update->stablehide = 0;

   // Hide the updated ones, 1 = hide 0 = show
   $update->uptodatehide = 0;

   // Hide the unofficial ones, 1 = hide 0 = show
   $update->unofficialhide = 0;

   // Hide the core plugins (not recommended), 1 = hide 0 = show
   $update->corehide = 1;

   // Hide the location, 1 = hide 0 = show
   $update->locationhide = 1;

   // Automatically update the List files (no prompt), 1 = update 0 = dont
   $update->autoupdate = 1;

?>